<div class="tip-card">
  <div class="tip-icon-wrap">
    <svg class="tip-icon"><use href="#icon-{{ tip.icon }}"/></svg>
  </div>
  <span class="tip-number">{{ tip.numeral }}</span>
  <h3>{{ tip.title }}</h3>
  <p>{{ tip.body }}</p>
</div>
